# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# macOS metadata
.DS_Store

# VS Code settings
.vscode/

# PyInstaller / build artifacts
dist/
build/
*.spec

# Logs
*.log

# Local layouts (saved at runtime)
*.umpb_layout.json
